---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: wiki
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: wiki-secret
    creationPolicy: Owner
    template:
      data:
        JWT_SECRET: "{{ .JWT_SECRET }}"
        SESSION_SECRET: "{{ .SESSION_SECRET }}"
        pass: "{{ .pass }}"
  dataFrom:
    - extract:
        key: wiki