---
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: subnet-router
  namespace: networking
spec:
  subnetRouter:
    advertiseRoutes:
      - 10.0.0.0/8
      - 192.168.20.0/24
  hostname: tslamars-subnet-router
