---
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: subnet-router
  namespace: networking
spec:
  subnetRouter:
    advertiseRoutes:
      - 10.0.0.0/8
      - 192.168.10.0/24
      - 192.168.20.0/24
  hostname: tslamars-subnet-router
  podTemplate:
    spec:
      securityContext:
        sysctls:
          - name: net.ipv4.ip_forward
            value: "1"
          - name: net.ipv6.conf.all.forwarding
            value: "1"
      containers:
        - name: tailscale
          securityContext:
            capabilities:
              add:
                - NET_ADMIN