---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: intel-device-plugin-gpu
      namespace: kube-system
  values:
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
      securityContext:
      # s6-overlay-suexec: warning: unable to gain root privileges (is the suid bit set?)
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
        supplementalGroups:
          - 44 # video
          - 109 # render
    controllers:
      tdarr:
        labels:
          nfsMount: "true"
        replicas: 3
        containers:
          node:
            image:
              repository: ghcr.io/haveagitgat/tdarr_node
              tag: 2.36.01
              pullPolicy: IfNotPresent
            env:
              - name: TZ
                value: America/New_York
              - name: nodeID
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              - name: serverIP
                value: mars.internal
              - name: serverPort
                value: 8266
              - name: PUID
                value: 1000
              - name: PGID
                value: 100
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 8Gi
                gpu.intel.com/i915: 1
    service:
      app:
        controller: *app
        type: ExternalName
        externalName: mars.internal
        ports:
          http:
            port: &port 8265
            targetPort: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.tslamars.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        type: emptyDir
        advancedMounts:
          tdarr:
            node:
              - path: /app/configs
                subPath: config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: mars.internal
            path: &mediaPath /mnt/user/data/media
        globalMounts:
          - path: *mediaPath
            readOnly: false
      cache:
        enabled: true
        type: nfs
        server: mars.internal
        path: /mnt/sharecache/tdarr
        globalMounts:
          - path: /temp