---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: smb.csi.k8s.io
  name: default-media-smb-unaspro
spec:
  capacity:
    storage: 60Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  mountOptions:
    - vers=3.1.1
    - mfsymlinks
    - noperm
    - noserverino
    - uid=4000
    - forceuid
    - gid=4000
    - forcegid
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: unaspro/media##
    volumeAttributes:
      source: "//unaspro.internal/media"
    nodeStageSecretRef:
      name: media-smb-media
      namespace: media
