---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy
spec:
  loadBalancerIPs: true
  interfaces:
    - bond0.20
    - enp0s31f6.20
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
