# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs-unaspro
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      replicas: 1
    storageClass:
      create: true
      name: nfs-unaspro-media
      parameters:
        server: unaspro.internal
        share: /volume1/.srv/.unifi-drive/media/.data
      mountOptions:
        - nfsvers=3
        - nconnect=16
        - hard
        - noatime
        - nolock
      reclaimPolicy: Delete
      volumeBindingMode: Immediate