---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      data:
        # Authentik
        client_id: "{{ .GRAFANA_CLIENT_ID }}"
        client_secret: "{{ .GRAFANA_CLIENT_SECRET }}"
        admin-user: "{{ .GRAFANA_ADMIN_USER }}"
        admin-password: "{{ .GRAFANA_ADMIN_PASS }}"
  dataFrom:
    - extract:
        key: grafana
