---
log:
  level: info

authentication_backend:
  ldap:
    address: ldap://lldap.default.svc.cluster.local:389
    implementation: custom
    timeout: 5s
    start_tls: false
    base_dn: dc=home,dc=arpa
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    user: uid=admin,ou=people,dc=home,dc=arpa
    attributes:
      username: uid
      display_name: displayName
      group_name: cn
      mail: mail
      member_of: memberOf
  password_reset:
    disable: true
  refresh_interval: 1m

regulation:
  max_retries: 3
  find_time: 1h
  ban_time: 1d

session:
  name: authelia-home-ops
  inactivity: 3d
  expiration: 7d
  remember_me: 6M
  cookies:
    - domain: tslamars.com
      authelia_url: https://auth.tslamars.com
  redis:
    host: authelia-dragonfly.default.svc.cluster.local

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
  rules:
    - domain:
        - sonarr.tslamars.com
        - radarr.tslamars.com
      resources: ["^/api.*$"]
      policy: bypass
    # Bypass domains that have their own auth
    - domain:
        - atuin.tslamars.com
        - autobrr.tslamars.com
        - dashbrr.tslamars.com
        - emqx.tslamars.com
        - grafana.tslamars.com
        - homepage.tslamars.com
        - irc.tslamars.com
        - jellyfin.tslamars.com
        - lldap.tslamars.com
        - s3.tslamars.com
        - ollama.tslamars.com
        - paperless.tslamars.com
        - syncthing.tslamars.com
        - sync.tslamars.com
        - tautulli.tslamars.com
        - thelounge.tslamars.com
        - rook.tslamars.com
        - sh.tslamars.com
      policy: bypass
    - domain:
        - sonarr.tslamars.com
        - radarr.tslamars.com
        - sabnzbd.tslamars.com
        - qbittorrent.tslamars.com
      subject:
        - "group:media"
      policy: one_factor
    - domain:
        - paperless.tslamars.com
      subject:
        - "group:documents"
      policy: two_factor
    - domain: "*.tslamars.com"
      subject:
        - "group:admin"
      policy: two_factor
    - domain: "*.tslamars.com"
      policy: deny

notifier:
  smtp:
    sender: "Authelia <auth@tslamars.com>"

identity_validation:
  reset_password:
    jwt_secret: '{{ env "JWT_SECRET" }}'

identity_providers:
  oidc:
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    claims_policies:
      ## Creates the 'default' claims policy.
      default:
        id_token: ['groups', 'email', 'email_verified', 'alt_emails', 'preferred_username', 'name']

    jwks:
      - key_id: default
        key: {{ env "JWKS_KEY" | mindent 10 "|" | msquote }}
    clients:
      - client_name: Autobrr
        client_id: '{{ env "AUTOBRR_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "AUTOBRR_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - email
          - openid
          - profile
        redirect_uris:
          - https://autobrr.tslamars.com/api/auth/oidc/callback
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_name: Dashbrr
        client_id: '{{ env "DASHBRR_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "DASHBRR_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - email
          - openid
          - profile
        redirect_uris:
          - https://dashbrr.tslamars.com/api/auth/callback
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_name: Grafana
        client_id: '{{ env "GRAFANA_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "GRAFANA_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - groups
          - email
        redirect_uris:
          - https://grafana.tslamars.com/login/generic_oauth
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_name: Immich
        client_id: '{{ env "IMMICH_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "IMMICH_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
        redirect_uris:
          - https://photos.tslamars.com/auth/login
          - app.immich:/
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_name: Paperless
        client_id: '{{ env "PAPERLESS_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "PAPERLESS_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
        redirect_uris:
          - https://paperless.tslamars.com/accounts/oidc/authelia/login/callback/
        userinfo_signed_response_alg: none
        claims_policy: default
      - client_name: Outline
        client_id: '{{ env "OUTLINE_OAUTH_CLIENT_ID" }}'
        client_secret: '{{ env "OUTLINE_OAUTH_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes:
          - openid
          - profile
          - email
        redirect_uris:
          - https://outline.tslamars.com/auth/oidc.callback
        userinfo_signed_response_alg: none
        claims_policy: default
