---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases
components:
  - ../../components/common
resources:
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly/ks.yaml
  - ./minio/ks.yaml
  - ./emqx/ks.yaml
