---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
#  - ./cloudnative-pg/ks.yaml
#  - ./dragonfly/ks.yaml
#  - ./minio/ks.yaml
