---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
#  - ./atuin/ks.yaml
#  - ./homebridge/ks.yaml
#  - ./home-assistant/ks.yaml