---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubero
  namespace: &namespace default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      kubero:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-data:
            image:
              repository: busybox
              tag: latest
            command: ["sh", "-c", "chown -R 1000:1000 /data"]
            volumeMounts:
              - name: data
                mountPath: /data
        pod:
          serviceAccountName: kubero
        containers:
          main:
            image:
              repository: ghcr.io/kubero-dev/kubero/kubero
              tag: v3.1.1
            env:
              DATABASE_URL: file:/data/database.db
              KUBERO_WEBHOOK_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: kubero-secret
                    key: KUBERO_WEBHOOK_SECRET
              KUBERO_SESSION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: kubero-secret
                    key: KUBERO_SESSION_KEY
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes
            resources:
              requests:
                memory: 128Mi
                cpu: 100m
              limits:
                memory: 1Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames: ["kubero.pipitonelabs.com"]
        parentRefs:
          - name: envoy-external
            namespace: networking
    persistence:
      data:
        existingClaim: kubero
        advancedMounts:
          kubero:
            main:
              - path: /data