apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        replicas: 1
        strategy: Recreate
        containers:
          main:
            image:
              repository: nginx
              tag: 1.29.3 # {"$imagepolicy": "flux-system:nginx:tag"}
            env:
              TZ: America/New_York
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 10
                  periodSeconds: 20
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            resources:
              requests:
                cpu: 10m
                memory: 96Mi
              limits:
                memory: 256Mi
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.tslamars.com"
          - tslamars.com
        parentRefs:
          - name: envoy-external
            namespace: networking
    service:
      app:
        ports:
          http:
            port: 80
    persistence:
      webroot:
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/www
        globalMounts:
          - path: /usr/share/nginx/html
            readOnly: true