apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        replicas: 1
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/pipitonelabs/resume
              tag: v1.0.0@sha256:75bd12c52d2c69f65ea3891ac58838cc9a23c86726aa5e2a19a82ae59e6b418f
            env:
              TZ: America/New_York
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 10
                  periodSeconds: 20
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            resources:
              requests:
                cpu: 10m
                memory: 96Mi
              limits:
                memory: 256Mi
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.pipitonelabs.com"
          - resume.pipitonelabs.com
        parentRefs:
          - name: envoy-external
            namespace: networking
    service:
      app:
        ports:
          http:
            port: 80
