---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
  namespace: &namespace security
spec:
  interval: 30m
  createNamespace: true
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      annotations:
        secret.reloader.stakater.com/reload: authentik-secret,authentik-cnpg-secret
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      authentik:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: authentik-initdb-secret
        containers:
          app:
            image:
              repository: ghcr.io/goauthentik/server
              tag: 2025.2.4
            env:
              AUTHENTIK_POSTGRESQL__NAME:
                valueFrom:
                  secretKeyRef:
                    name: &pgsecret authentik-cnpg-secret
                    key: dbname
              AUTHENTIK_POSTGRESQL__HOST:
                valueFrom:
                  secretKeyRef:
                    name: *pgsecret
                    key: host
              AUTHENTIK_POSTGRESQL__USER:
                valueFrom:
                  secretKeyRef:
                    name: *pgsecret
                    key: username
              AUTHENTIK_POSTGRESQL__PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pgsecret
                    key: password
              AUTHENTIK_REDIS__HOST: authentik-dragonfly.security.svc.cluster.local
              AUTHENTIK_BOOTSTRAP_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: authentik-secret
                    key: AUTHENTIK_BOOTSTRAP_TOKEN
              AUTHENTIK_BOOTSTRAP_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: authentik-secret
                    key: AUTHENTIK_BOOTSTRAP_PASSWORD
              AUTHENTIK_BOOTSTRAP_EMAIL:
                valueFrom:
                  secretKeyRef:
                    name: authentik-secret
                    key: AUTHENTIK_BOOTSTRAP_EMAIL
              AUTHENTIK_SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: authentik-secret
                    key: AUTHENTIK_SECRET_KEY
            envFrom:
              - secretRef:
                  name: authentik-secret
            resources:
              requests:
                cpu: 200m
                memory: 500Mi
              limits:
                memory: 1Gi

      dragonfly:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dragonflydb/dragonfly
              tag: v1.28.2
            args:
              - --maxmemory=$(MAX_MEMORY)Mi
              - --proactor_threads=2
              - --cluster_mode=emulated
              - --lock_on_hashtags
            env:
              - name: MAX_MEMORY
                valueFrom:
                  resourceFieldRef:
                    resource: limits.memory
                    divisor: 1Mi
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      authentik:
        controller: authentik
        ports:
          http:
            port: 9000
      dragonfly:
        controller: dragonfly
        ports:
          redis:
            port: 6379

    autoscaling:
      authentik:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80