---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
  namespace: security
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      annotations:
        secret.reloader.stakater.com/reload: authentik-secret

    controllers:
      authentik:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: authentik-initdb-secret
        containers:
          app:
            image:
              repository: ghcr.io/goauthentik/server
              tag: 2025.2.4
            env:
              AUTHENTIK_POSTGRESQL__NAME:
                valueFrom:
                  secretKeyRef:
                    name: &pguser authentik-pguser-secret
                    key: db
              AUTHENTIK_POSTGRESQL__HOST:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: host
              AUTHENTIK_POSTGRESQL__USER:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: user
              AUTHENTIK_POSTGRESQL__PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
              AUTHENTIK_REDIS__HOST: authentik-dragonfly.security.svc.cluster.local
            envFrom:
              - secretRef:
                  name: authentik-secret
            resources:
              requests:
                cpu: 200m
                memory: 500Mi
              limits:
                memory: 1Gi
        autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80

      dragonfly:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dragonflydb/dragonfly
              tag: v1.28.2
            args:
              - --maxmemory=$(MAX_MEMORY)Mi
              - --proactor_threads=2
              - --cluster_mode=emulated
              - --lock_on_hashtags
            env:
              - name: MAX_MEMORY
                valueFrom:
                  resourceFieldRef:
                    resource: limits.memory
                    divisor: 1Mi
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      authentik:
        controller: authentik
        ports:
          http:
            port: *authentik-port
          metrics:
            enabled: true
            port: 9300
      dragonfly:
        controller: dragonfly
        ports:
          redis:
            port: *dragonfly-port
