---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seerr-preview-cache
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 15Gi
  storageClassName: ceph-block
