---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/namespace
resources:
  - ./emqx/ks.yaml
#  - ./outline/ks.yaml
  - ./smtp-relay/ks.yaml
  - ./teslamate/ks.yaml