---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      radarr:
        labels:
          nfsMount: "true"
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: radarr-initdb-secret

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 5.27.4.10176@sha256:4b9c3548ff82a9f3e4ccdabb2d7044da8167c42003ac96164c3e1a5287730538
            env:
              TZ: America/New_York
              PUSHOVER_DEBUG: "false"
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__INSTANCENAME: Radarr
              RADARR__PORT: 7878
              RADARR__LOG__LEVEL: info
              RADARR__THEME: dark
              # Postgres Setup
              # Postgres Setup
              RADARR__POSTGRES__HOST:
                valueFrom:
                  secretKeyRef:
                    name: &pguser radarr-pguser-secret
                    key: host
              RADARR__POSTGRES__PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: port
              RADARR__POSTGRES__USER:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: user
              RADARR__POSTGRES__PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
              RADARR__POSTGRES__MAINDB:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: db
              RADARR__LOG__DBENABLED: "false"
            envFrom:
              - secretRef:
                  name: radarr-secret

    service:
      app:
        ports:
          http:
            port: &port 7878

    route:
      app:
        hostnames: ["{{ .Release.Name }}.tslamars.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: radarr.png
          gethomepage.dev/name: Radarr
          gethomepage.dev/group: Downloads
          gethomepage.dev/widget.type: *app
          gethomepage.dev/widget.url: http://radarr.media.svc.cluster.local:7878
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_RADARR_API_KEY}}" }}'
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      media:
        type: nfs
        server: mars.internal
        path: /mnt/user/data/media
      config:
        existingClaim: *app
      tmp:
        type: emptyDir
