---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubero-operator
  namespace: &namespace default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    controllers:
      kubero-operator:
        annotations:
          reloader.stakater.com/auto: "true"
        serviceAccount:
          name: kubero
        containers:
          main:
            image:
              repository: ghcr.io/kubero-dev/kubero-operator/kuberoapp
              tag: v2.3.18
            env:
              KUBERO_NAMESPACE: default
              KUBERO_CONTEXT: ""
              KUBERO_BUILDPACK_DEFAULT_RUN_CMD: "web"
              KUBERO_BUILDPACK_DEFAULT_BUILD_CMD: ""
              KUBERO_BUILDPACK_DEFAULT_FETCH_CMD: ""
              KUBERO_WEBHOOK_URL: ""
              KUBERO_WEBHOOK_SECRET: ""
              DEBUG: "false"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile:
          type: RuntimeDefault