---
# Talos secrets bundle, rebuilt from the same 1Password item (Kubernetes/talos) that feeds the machine
# configs. Only used to regenerate talosconfig (just talos generate-talosconfig).
cluster:
  id: op://Kubernetes/talos/CLUSTER_ID
  secret: op://Kubernetes/talos/CLUSTER_SECRET
secrets:
  bootstraptoken: op://Kubernetes/talos/CLUSTER_TOKEN
  secretboxencryptionsecret: op://Kubernetes/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
trustdinfo:
  token: op://Kubernetes/talos/MACHINE_TOKEN
certs:
  etcd:
    crt: op://Kubernetes/talos/CLUSTER_ETCD_CA_CRT
    key: op://Kubernetes/talos/CLUSTER_ETCD_CA_KEY
  k8s:
    crt: op://Kubernetes/talos/CLUSTER_CA_CRT
    key: op://Kubernetes/talos/CLUSTER_CA_KEY
  k8saggregator:
    crt: op://Kubernetes/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://Kubernetes/talos/CLUSTER_AGGREGATORCA_KEY
  k8sserviceaccount:
    key: op://Kubernetes/talos/CLUSTER_SERVICEACCOUNT_KEY
  os:
    crt: op://Kubernetes/talos/MACHINE_CA_CRT
    key: op://Kubernetes/talos/MACHINE_CA_KEY
