---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
components:
  - ../../components/namespace
resources:
  - ./certificates/ks.yaml
  - ./cloudflared/ks.yaml
  - ./echo-server/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns/ks.yaml
#  - ./multus/ks.yaml
#  - ./tailscale-operator/ks.yaml