---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    enableServiceLinks: false
    installCRDs: true
    operator:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          cpu: 100m
          memory: 500Mi
    metricsApiServer:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          cpu: 100m
          memory: 500Mi