---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: website
  namespace: default
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100, 1001, 1025]
        seccompProfile: { type: RuntimeDefault }
    controllers:
      web:
        replicas: 2
        containers:
          app:
            image:
              repository: docker.io/bitnami/nginx
              tag: 1.28.0
    service:
      app:
        controller: web
        ports:
          http:
            port: 80
    route:
      app:
        hostnames:
          - "www.tslamars.com"
          - "tslamars.com"
        parentRefs:
          - name: envoy-external
            namespace: networking
    persistence:
      www:
        enabled: true
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/website
        globalMounts:
          - path: /opt/bitnami/nginx/html

      config-cache:
        enabled: true
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/website-config
        globalMounts:
          - path: /opt/bitnami/nginx/conf/server_blocks
  