---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app memos
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: memos-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PUSHOVER_TOKEN: "{{ .PUSHOVER_MEMOS_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  dataFrom:
    - extract:
        key: pushover