---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app memos
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      memos:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: memos-initdb-secret

        containers:
          app:
            image:
              repository: ghcr.io/usememos/memos
              tag: 0.24.2@sha256:12529e2117ad7a52d8aaba6e8d07218fcd1d8868b346b9585f583553b04f8533
            env:
              TZ: America/New_York
              MEMOS_DRIVER: postgres
              MEMOS_PORT: &port 5230
              MEMOS_PUBLIC: false
              MEMOS_DSN:
                valueFrom:
                  secretKeyRef:
                    name: memos-pguser-secret
                    key: uri
            envFrom:
              - secretRef:
                  name: memos-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 256Mi

    service:
      app:
        controller: memos
        ports:
          http:
            port: &port 5230

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.tslamars.com"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: memos.png
          gethomepage.dev/name: Memos
          gethomepage.dev/group: Stuff
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
