---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudnative-pg-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_SUPER_USER }}"
        password: "{{ .POSTGRES_SUPER_PASS }}"
        aws-access-key-id: "{{ .AWS_ACCESS_KEY_ID }}"
        aws-secret-access-key: "{{ .AWS_SECRET_ACCESS_KEY }}"
        minio-aws-access-key-id: "{{ .MINIO_AWS_ACCESS_KEY_ID }}"
        minio-aws-secret-access-key: "{{ .MINIO_AWS_SECRET_ACCESS_KEY }}"
        garage-aws-access-key-id: "{{ .GARAGE_AWS_ACCESS_KEY_ID }}"
        garage-aws-secret-access-key: "{{ .GARAGE_AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: cloudflare
