---
# Source: https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.9.0/manifest.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: cloudnative-pg
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: objectstores.barmancloud.cnpg.io
spec:
  group: barmancloud.cnpg.io
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              retentionPolicy:
                type: string
              configuration:
                type: object
                properties:
                  destinationPath:
                    type: string
                  endpointURL:
                    type: string
                  data:
                    type: object
                    properties:
                      compression:
                        type: string
                  wal:
                    type: object
                    properties:
                      compression:
                        type: string
                      maxParallel:
                        type: integer
                  s3Credentials:
                    type: object
                    properties:
                      accessKeyId:
                        type: object
                        properties:
                          name:
                            type: string
                          key:
                            type: string
                      secretAccessKey:
                        type: object
                        properties:
                          name:
                            type: string
                          key:
                            type: string
          status:
            type: object
  scope: Namespaced
  names:
    plural: objectstores
    singular: objectstore
    kind: ObjectStore
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: barman-cloud
  namespace: cloudnative-pg
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: barman-cloud
rules:
- apiGroups:
  - barmancloud.cnpg.io
  resources:
  - objectstores
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - barmancloud.cnpg.io
  resources:
  - objectstores/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: barman-cloud
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: barman-cloud
subjects:
- kind: ServiceAccount
  name: barman-cloud
  namespace: cloudnative-pg
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: barman-cloud
  namespace: cloudnative-pg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: barman-cloud
  template:
    metadata:
      labels:
        app: barman-cloud
    spec:
      serviceAccountName: barman-cloud
      containers:
      - name: barman-cloud
        image: ghcr.io/cloudnative-pg/plugin-barman-cloud:v0.9.0
        args:
        - operator
        - --server-address
        - 0.0.0.0:8080
        ports:
        - containerPort: 8080
        env:
        - name: WATCH_NAMESPACE
          value: ""
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: barman-cloud
        - name: SIDECAR_IMAGE
          value: ghcr.io/cloudnative-pg/plugin-barman-cloud:v0.9.0
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - name: plugins
          mountPath: /plugins
      volumes:
      - name: plugins
        emptyDir: {}