---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: webhook
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: webhook-secret
    template:
      data:
        #CROSS_SEED_PUSHOVER_URI: pover://{{ .PUSHOVER_USER_KEY }}@{{ .CROSS_SEED_PUSHOVER_TOKEN }}
        JELLYSEERR_PUSHOVER_URI: pover://{{ .PUSHOVER_USER_KEY }}@{{ .JELLYSEERR_PUSHOVER_TOKEN }}
        RADARR_PUSHOVER_URI: pover://{{ .PUSHOVER_USER_KEY }}@{{ .RADARR_PUSHOVER_TOKEN }}
        SONARR_PUSHOVER_URI: pover://{{ .PUSHOVER_USER_KEY }}@{{ .SONARR_PUSHOVER_TOKEN }}
  dataFrom:
    #- extract:
    #    key: cross-seed
    - extract:
        key: jellyseerr
    - extract:
        key: radarr
    - extract:
        key: sonarr
    - extract:
        key: pushover
