---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plane
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      plane-backend:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: plane-initdb-secret
        containers:
          app:
            image:
              repository: makeplane/plane-backend
              tag: latest
            env:
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: &pguser plane-pguser-secret
                    key: uri
              REDIS_URL: redis://plane-dragonfly.default.svc.cluster.local:6379
              SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: plane-secret
                    key: SECRET_KEY
            envFrom:
              - secretRef:
                  name: plane-secret
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 1Gi
      plane-frontend:
        containers:
          app:
            image:
              repository: makeplane/plane-frontend
              tag: latest
            env:
              SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: plane-secret
                    key: SECRET_KEY
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
      plane-worker:
        containers:
          app:
            image:
              repository: makeplane/plane-worker
              tag: latest
            env:
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: uri
              REDIS_URL: redis://plane-dragonfly.default.svc.cluster.local:6379
              SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: plane-secret
                    key: SECRET_KEY
            envFrom:
              - secretRef:
                  name: plane-secret
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      backend:
        controller: plane-backend
        ports:
          http:
            port: 8000
      frontend:
        controller: plane-frontend
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "plane.tslamars.com"
        parentRefs:
          - name: envoy-external
            namespace: networking
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - identifier: backend
                port: 8000
          - backendRefs:
              - identifier: frontend
                port: 3000
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp