---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app notifiarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      notifiarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/notifiarr/notifiarr
              tag: v0.8.3@sha256:1798fc4236e75c5601b747e367f66a3dd25b412fb834552d2517aced36792be1
            env:
              TZ: ${TIMEZONE}
              DN_UPSTREAMS_0: "[10.0.0.0/8]"
              TMPDIR: /tmp
              DN_RADARR_0_URL: http://radarr.media.svc.cluster.local
              DN_SONARR_0_URL: http://sonarr.media.svc.cluster.local
              DN_PLEX_URL: http://plex.media.svc.cluster.local:32400
              DN_TAUTULLI_URL: http://tautulli.media.svc.cluster.local
            envFrom:
              - secretRef:
                  name: notifiarr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3Gi

    defaultPodOptions:
      hostname: notifiarr-talos
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: &port 5454
    route:
      app:
        hostnames: ["{{ .Release.Name }}.tslamars.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: notifiarr.png
          gethomepage.dev/name: Notifiarr
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: *app
          gethomepage.dev/widget.url: http://notifiarr.media.svc.cluster.local:5454
          #gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_NOTIFIARR_API_KEY}}" }}'
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app

      tmp:
        type: emptyDir
        medium: Memory