---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tailscale-operator
  namespace: networking
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.88.4
  url: oci://ghcr.io/tailscale/tailscale-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: networking
spec:
  dependsOn:
    - name: tailscale-operator
      kind: OCIRepository
      namespace: networking
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator-secret
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
    crds:
      install: true