---
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicy
metadata:
  name: volsync-smb-mount
  namespace: volsync-system
spec:
  matchConstraints:
    resourceRules:
      - apiGroups: ["batch"]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE"]
        resources: ["jobs"]
  matchConditions:
    - name: has-volsync-job-name-prefix
      expression: >
        object.metadata.name.startsWith("volsync-")
    - name: has-volsync-created-by-labels
      expression: >
        object.metadata.labels["app.kubernetes.io/created-by"] == "volsync"
  failurePolicy: Fail
  reinvocationPolicy: IfNeeded
  mutations:
    - patchType: JSONPatch
      jsonPatch:
        expression: >
          [
            JSONPatch{
              op: "add", path: "/spec/template/spec/initContainers/-",
              value: Object.spec.template.spec.initContainers{
                name: "mount-smb",
                image: "debian:bookworm",
                command: ["sh", "-c", "apt-get update && apt-get install -y cifs-utils && mkdir -p /repository && mount -t cifs //unaspro.internal/Volsync /repository -o username=$(SMB_USERNAME),password=$(SMB_PASSWORD),dir_mode=0777,file_mode=0777,vers=3.0"],
                env: [
                  {name: "SMB_USERNAME", valueFrom: {secretKeyRef: {name: "${APP}-volsync-secret", key: "SMB_USERNAME"}}},
                  {name: "SMB_PASSWORD", valueFrom: {secretKeyRef: {name: "${APP}-volsync-secret", key: "SMB_PASSWORD"}}}
                ],
                volumeMounts: [
                  {name: "smb-repo", mountPath: "/repository"}
                ],
                securityContext: {privileged: true}
              }
            },
            JSONPatch{
              op: "add", path: "/spec/template/spec/volumes/-",
              value: Object.spec.template.spec.volumes{
                name: "smb-repo",
                emptyDir: {}
              }
            },
            JSONPatch{
              op: "add", path: "/spec/template/spec/containers/0/volumeMounts/-",
              value: Object.spec.template.spec.containers.volumeMounts{
                name: "smb-repo",
                mountPath: "/repository"
              }
            },
            JSONPatch{
              op: "add", path: "/spec/template/spec/securityContext",
              value: Object.spec.template.spec.securityContext{
                fsGroup: ${VOLSYNC_PGID:=988},
                runAsUser: ${VOLSYNC_PUID:=1008},
                runAsGroup: ${VOLSYNC_PGID:=988}
              }
            }
          ]
---
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: volsync-smb-mount
spec:
  policyName: volsync-smb-mount