---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4
            env:
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: garage-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        #supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          s3:
            port: &port 3900
          api:
            port: 3903
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 403"]
        hostnames: ["s3.pipitonelabs.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        type: configMap
        name: garage-configmap
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
      data:
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/garage/data
        globalMounts:
          - path: /data
      meta:
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/garage/meta
        globalMounts:
          - path: /meta
