---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      minio:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2025-09-07T16-13-09Z@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e

            env:
              MINIO_UPDATE: "off"
              MINIO_BROWSER_REDIRECT_URL: https://minio.tslamars.com
              MINIO_SERVER_URL: "https://s3.tslamars.com"
              MINIO_API_CORS_ALLOW_ORIGIN: "https://outline.tslamars.com"
              MINIO_API_CORS_ALLOW_METHODS: "GET,PUT,POST,DELETE"
              MINIO_API_CORS_ALLOW_HEADERS: "Authorization,Content-Type,Accept,Origin"
              MINIO_API_CORS_EXPOSE_HEADERS: "ETag"
              MINIO_API_CORS_ALLOW_CREDENTIALS: "true"
              MINIO_AUDIT_LOG: "on"
              MINIO_LOG_LEVEL: "debug"
              MINIO_IDENTITY_OPENID_CONFIG_URL: https://sso.tslamars.com/application/o/minio/.well-known/openid-configuration
              MINIO_IDENTITY_OPENID_REDIRECT_URI: https://minio.tslamars.com/oauth_callback
              MINIO_IDENTITY_OPENID_SCOPES: openid, email, profile, minio
              MINIO_IDENTITY_OPENID_CLAIM_NAME: groups
              MINIO_IDENTITY_OPENID_DISPLAY_NAME: Authentik

            envFrom:
              - secretRef:
                  name: minio-secret

            args: ["server", "/data", "--console-address", ":9001"]

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes

            resources:
              requests:
                memory: 100Mi
                cpu: 100m
              limits:
                memory: 4000Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port-console 9001
          api:
            port: &port-api 9000

    serviceMonitor:
      app:
        serviceName: minio
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s

    route:
      app:
        hostnames: ["minio.tslamars.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port-console

      s3:
        hostnames: ["s3.tslamars.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port-api

    persistence:
      data:
        type: nfs
        server: mars.internal
        path: /mnt/user/Kubernetes/minio
        globalMounts:
          - path: /data
